@use "../core/variables" as *;

.main-footer {
  background-color: $primary-color;
  color: rgba($white, 0.8);
  padding: 4rem 0 2rem 0;
  margin-top: 4rem;

  .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .footer-column {
    h4 {
      color: $white;
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.7;
    }

    ul {
      list-style: none;
    }

    li {
      margin-bottom: 0.5rem;
    }

    a {
      color: rgba($white, 0.8);
      text-decoration: none;
      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid rgba($white, 0.2);
    padding-top: 2rem;
    text-align: center;
    color: rgba($white, 0.6);
  }
}
